##
## Velocity Template for DisplayTOTPView view-state
##
#set ($esupOtpContext = $authenticationContext.getSubcontext('fr.renater.shibboleth.idp.plugin.authn.esup.otp.context.EsupOtpContext'))
#set ($apiUrl = $environment.getProperty("idp.esup.otp.apiHost"))
##
$response.addHeader("Content-Security-Policy", "script-src-attr 'unsafe-hashes'")
<!DOCTYPE html>
<html>
    <head>
        <title>#springMessageText("idp.title", "Web Login Service")</title>
        #parse("head.vm")
    </head>
    <body>
        <main class="main">
            <section class="small-12 small-centered medium-8 large-7">
                #parse("header.vm")
                #parse("esup-otp-error.vm")

                    <form action="$flowExecutionUrl" method="post">
                        #parse("csrf/csrf.vm")

                            <div class="input-wrap token">
                                <input class="form-element form-field token-input input" id="tokencode" name="tokencode" type="text" inputmode="numeric" value="" placeholder="000000" autocomplete="off" />
                            </div>

                            <button class="button float-right" type="submit" name="_eventId_proceed" id="submitButton"
                                disabled
                                >#springMessageText("idp.login.login", "Login")</button>
                    </form>

                #parse("help.vm")

            </section>
        </main>
        #parse("footer.vm")
     </body>
</html>
